* {
    margin: 0;
    padding: 0;
}
::-ms-clear{display: none;}
::-ms-reveal{display: none;}
body {
    font-family: 微软雅黑;
    width: 100%;
    height: 100%;
    background: url(../images/background.jpg) no-repeat ;
    background-size:cover;
    
    }
    
}

.Copyright{color:#fff;text-align:center;margin-top:25%;color:#B3B8C4;}

.login-area {
    margin: 50 auto;
    width: 50%;
    height: 50%;
    margin-top: 50px;
}

.login-area .common {
    font-family: 微软雅黑;
    position: relative;

}

.login-area .input {
    top:100px;
    height: 35px;
    width: 50%;
    padding: 5px 5px 5px 10px;
    margin: 0 12%;
    font-size: 14px;
    border: 1px solid #d2d2d2;
    outline: none;
}
.login-area .input_on{
    border-color:#00BBFF;
}


.login-area .psw-height {
    top: 110px;
}



.login-roles {
    top: 170px;
    left: 0%;
    background: #30CCe7;
    border: none;
    width: 300px;
    height: 50px;
    color: #fff;
    font-size: 1em;
    
}


.login-btn {
    top: 170px;
    left: 0%;
    background: #3090e7;
    border: none;
    width: 300px;
    height: 50px;
    color: #fff;
    font-size: 1em;
    
}

.reg-btn {
    top: 170px;
    left: 0%;
    background: #00cc00;
    border: none;
    width: 300px;
    height: 50px;
    color: #fff;
    font-size: 1em;
    
}

.find-btn {
    top: 170px;
    left: 0%;
    background: #330000;
    border: none;
    width: 300px;
    height: 50px;
    color: #fff;
    font-size: 1em;
    
}

.login-area .title {
    font-family: 微软雅黑;
    color: #CCCCCC;
    position: relative;
    top: 70px;
    font-size: 1.4em;
    width: 100%;
    text-align: center;
}

.login-area .title span {
    border-bottom: 1px solid #3090e7;
    width: 40px;
    height: 0;
    display: inline-block;
    margin: 0 10px 5px;
}

#jianpan {
    position: absolute;
    background: #ffffff;
    border-radius: 5px;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
    width: 45%;
    height: 30%;
    display: none;
	overflow:hidden;
    border: 1px solid rgba(0, 0, 0, 0.5);
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#jianpan .title {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #dcdddd;
    padding: 0;
    cursor: move;
	font-size:1em;
}
#jianpan .jianpan_hide{
    width: 40px;
    float: right;
}

#xfjp {
    width: 100%;
    height: 80%;
}
#shift{
	font-size:0.8em;
}
.jianpan {
    color: #dcdddd;
}

.jianpan td {
    color: #333333;
    width: 10%;
    text-align: center;
    font-size: 1em;
    border-bottom: 1px solid #dcdddd;
    border-left: 1px solid #dcdddd;
}

.jianpan tr td:first-child {
    border-left: none;
}

.jianpan tr:last-child td {
    border-bottom: none;
}

.jianpan td:active {
    /*background: #efeff0;*/
    -moz-box-shadow:0px 0px 10px #AAAAAA inset;
    -webkit-box-shadow:0px 0px 10px #AAAAAA inset;
    box-shadow:0px 0px 10px #AAAAAA inset;
}


html{overflow-y:scroll;vertical-align:baseline;}
ul,li{list-style:none}
h1{font-size:30px;font-weight:700;text-shadow:0 1px 4px rgba(0,0,0,.2)}
.login{width:410px;margin:30px auto 0 auto;text-align:center;padding:10px;background:url(images/mask.png);border-radius:30px; font-size:24px; color:#22ffff;}
.reg{width:410px;margin:30px auto 0 auto;text-align:center;padding:10px;background:url(images/mask.png);border-radius:30px; font-size:24px; color:#ffcc00;}
.find{width:410px;margin:30px auto 0 auto;text-align:center;padding:10px;background:url(images/mask.png);border-radius:30px; font-size:24px; color:#ff0000;}
.role {width:200px;margin:30px auto 0 auto;text-align:center;padding:10px;background:url(images/mask.png);border-radius:30px; font-size:20px; color:#00FF00;}
.login-box .name,.login-box .password,.login-box .code,.login-box .remember{font-size:16px;text-shadow:0 1px 2px rgba(0,0,0,.1)}
.login-box .input{box-shadow:none;width:15px;height:15px;margin-top:25px}
.login-box .remember{padding-left:40px}
.login-box .remember label{display:inline-block;height:42px;width:70px;line-height:34px;text-align:left}
.login-box label{display:inline-block;width:100px;text-align:right;vertical-align:middle}
.login-box #code{width:120px}
.login-box .codeImg{float:right;margin-top:26px;}
.login-box img{width:148px;height:42px;border:none}
input[type=text],input[type=password]{width:270px;height:42px;margin-top:25px;padding:0px 15px;border:1px solid rgba(255,255,255,.15);border-radius:6px;color:#fff;letter-spacing:2px;font-size:16px;background:transparent;}
button{cursor:pointer;width:100%;height:44px;padding:0;background:#ef4300;border:1px solid #ff730e;border-radius:6px;font-weight:700;color:#fff;font-size:24px;letter-spacing:15px;text-shadow:0 1px 2px rgba(0,0,0,.1)}
input:focus{outline:none;box-shadow:0 2px 3px 0 rgba(0,0,0,.1) inset,0 2px 7px 0 rgba(0,0,0,.2)}
button:hover{box-shadow:0 15px 30px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.2)}
.screenbg{position:fixed;bottom:0;left:0;z-index:-999;overflow:hidden;width:100%;height:100%;min-height:100%;}
.screenbg ul li{display:block;list-style:none;position:fixed;overflow:hidden;top:0;left:0;width:100%;height:100%;z-index:-1000;float:right;}
.screenbg ul a{left:0;top:0;width:100%;height:100%;display:inline-block;margin:0;padding:0;cursor:default;}
.screenbg a img{vertical-align:middle;display:inline;border:none;display:block;list-style:none;position:fixed;overflow:hidden;top:0;left:0;width:100%;height:100%;z-index:-1000;float:right;}
.bottom{margin:8px auto 0 auto;width:100%;position:fixed;text-align:center;bottom:0;left:0;overflow:hidden;padding-bottom:8px;color:#ccc;word-spacing:3px;zoom:1;}
.bottom a{color:#FFF;text-decoration:none;}
.bottom a:hover{text-decoration:underline;}
